Repository block/ftl, pull requests merged in 2024-11, with the labels that each got.

#3257 chore: split up proto files
  backend/protos/xyz/block/ftl/v1/admin.pb.go
  backend/protos/xyz/block/ftl/v1/admin.proto
  backend/protos/xyz/block/ftl/v1/controller.pb.go
  backend/protos/xyz/block/ftl/v1/controller.proto
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/protos/xyz/block/ftl/v1/ftlv1connect/admin.connect.go
  backend/protos/xyz/block/ftl/v1/ftlv1connect/controller.connect.go
  backend/protos/xyz/block/ftl/v1/ftlv1connect/module.connect.go
  backend/protos/xyz/block/ftl/v1/ftlv1connect/verb.connect.go
  backend/protos/xyz/block/ftl/v1/module.pb.go
  backend/protos/xyz/block/ftl/v1/module.proto
  backend/protos/xyz/block/ftl/v1/verb.pb.go
  backend/protos/xyz/block/ftl/v1/verb.proto
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/protos/xyz/block/ftl/v1beta1/provisioner/service.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/service.proto
  frontend/console/src/api/schema/use-schema.ts
  frontend/console/src/api/status/use-status.ts
  frontend/console/src/features/command-pallete/command-palette.utils.ts
  frontend/console/src/features/infrastructure/ControllersList.tsx
  frontend/console/src/features/infrastructure/DeploymentsList.tsx
  frontend/console/src/features/infrastructure/RoutesList.tsx
  frontend/console/src/features/infrastructure/RunnersList.tsx
  frontend/console/src/features/verbs/VerbRequestForm.tsx
  frontend/console/src/protos/xyz/block/ftl/v1/admin_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/admin_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/controller_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/controller_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/module_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/module_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/verb_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/verb_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/service_connect.ts
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
Labels: skip-proto-breaking

#3303 chore: minor kube justfile changes
  deployment/Justfile
  frontend/cli/bind.go
  internal/integration/harness.go
Labels: run-all

#3276 fix: smoke test the tagged release before upgrading
  .github/workflows/smoketest.yml
Labels: run-all

#3341 chore: remove unused runner language labels
  backend/controller/dal/dal_test.go
  backend/protos/xyz/block/ftl/v1/controller.pb.go
  backend/protos/xyz/block/ftl/v1/controller.proto
  backend/runner/runner.go
  frontend/console/src/protos/xyz/block/ftl/v1/controller_pb.ts
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/controller_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/controller_pb2.pyi
Labels: skip-proto-breaking

#3338 fix: smoke test disk space
  .github/workflows/smoketest.yml
Labels: run-all

#3268 feat: Language plugins choose the runner image
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile.runner
  Dockerfile.runner-jvm
  backend/controller/controller.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  deployment/Dockerfile.runner-jvm.test
  deployment/Dockerfile.runner.test
  deployment/Justfile
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  go-runtime/goplugin/service.go
  internal/buildengine/languageplugin/plugin.go
  internal/schema/module.go
  jvm-runtime/plugin/common/jvmcommon.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.pyi
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.pyi
Labels: skip-proto-breaking

#3358 fix: only propagate FTL headers
  backend/controller/controller.go
  internal/rpc/headers/headers.go
Labels: run-all

#3351 chore: dump previous logs as well
  backend/controller/scaling/kube_scaling_integration_test.go
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
  deployment/values.yaml
  internal/integration/harness.go
Labels: run-all

#3364 fix: strip protocol level headers
  internal/rpc/headers/headers.go
Labels: run-all

#3371 fix: wait for upgrade to complete
  .github/workflows/smoketest.yml
  deployment/Justfile
  internal/integration/harness.go
Labels: run-all

#3311 chore: add istio access logging to tests
  backend/controller/scaling/kube_scaling_integration_test.go
  backend/provisioner/service.go
  deployment/Justfile
  deployment/istio-access-logs.yaml
Labels: run-all

#3328 feat: store artifacts in OCI registry
  .github/workflows/ci.yml
  backend/controller/artefacts/artefact.go
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/internal/sql/db.go
  backend/controller/artefacts/internal/sql/models.go
  backend/controller/artefacts/internal/sql/querier.go
  backend/controller/artefacts/internal/sql/queries.sql
  backend/controller/artefacts/internal/sql/queries.sql.go
  backend/controller/artefacts/oci_registry.go
  backend/controller/controller.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/scaling/localscaling/local_scaling.go
  backend/controller/scaling/scaling.go
  backend/controller/sql/schema/20241105035511_remove_artefacts.sql
  backend/controller/timeline/internal/timeline_test.go
  backend/runner/runner.go
  charts/ftl/Chart.lock
  charts/ftl/Chart.yaml
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/registry.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/templates/secrets.yaml
  charts/ftl/values.yaml
  deployment/values.yaml
  docker-compose.yml
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_download.go
  frontend/cli/cmd_release.go
  frontend/cli/cmd_serve.go
  go.mod
  go.sum
  internal/buildengine/engine.go
  internal/dev/registry.go
  internal/download/download.go
  internal/model/model.go
  internal/modulecontext/module_context.go
  internal/rpc/rpc.go
  sqlc.yaml
Labels: run-all, skip-proto-breaking

#3409 chore: fix buf linter issues
  backend/protos/buf.yaml
  backend/protos/xyz/block/ftl/v1/admin.pb.go
  backend/protos/xyz/block/ftl/v1/admin.proto
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  frontend/console/src/protos/xyz/block/ftl/v1/admin_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/admin_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/admin_pb2.pyi
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.pyi
Labels: skip-proto-breaking

#3414 fix: istio logging for upgrade tests
  deployment/Justfile
  deployment/values-release.yaml
Labels: run-all

#3415 fix: improve smoke test checkout
  .github/workflows/ci.yml
  .github/workflows/smoketest.yml
Labels: run-all

#3423 fix: use correct version on CI
  backend/controller/dal/internal/sql/querier.go
  jvm-runtime/plugin/common/jvmcommon.go
Labels: run-all

#3424 fix: smoke tests fixes
  .github/workflows/smoketest.yml
Labels: run-all

#3392 feat: hot reload
  backend/controller/scaling/localscaling/local_scaling.go
  backend/controller/scaling/scaling.go
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  backend/runner/runner.go
  common/plugin/serve.go
  common/plugin/spawn.go
  examples/java/echo/src/main/java/ftl/echo/Echo.java
  examples/java/time/src/main/java/ftl/time/Time.java
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_serve.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/goplugin/service_test.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/plugin_client.go
  internal/buildengine/languageplugin/plugin_integration_test.go
  internal/buildengine/languageplugin/plugin_test.go
  internal/integration/actions.go
  internal/integration/harness.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
  jvm-runtime/ftl-runtime/common/deployment/pom.xml
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/FTLRecorder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/HotReloadSetup.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/resources/META-INF/services/io.quarkus.dev.spi.HotReplacementSetup
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/plugin/common/java_plugin_test.go
  jvm-runtime/plugin/common/jvmcommon.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/language/language_pb2.pyi
Labels: skip-proto-breaking

#3349 feat: timeout for deploy command
  frontend/cli/cmd_deploy.go
  internal/integration/actions.go
Labels: run-all

#3452 fix: wire up cron again
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile.cron
  backend/cron/service.go
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/cron-role.yaml
  charts/ftl/templates/cron.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  cmd/ftl-cron/main.go
  deployment/Dockerfile.cron.test
  deployment/Justfile
  deployment/values.yaml
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
Labels: run-all

#3499 chore: convert database runtime to a oneof to support more connection methods in the future
  backend/controller/controller.go
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  backend/provisioner/controller_provisioner.go
  backend/runner/runner.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/schema/data.go
  internal/schema/database.go
  internal/schema/jsonschema.go
  internal/schema/redact_test.go
  internal/schema/validate.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.pyi
Labels: skip-proto-breaking

#3533 fix: switch PullSchemaResponse.deployment_key to optional
  backend/controller/controller.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/localscaling/local_scaling.go
  backend/cron/service.go
  backend/ingress/service.go
  backend/protos/xyz/block/ftl/v1/schemaservice.pb.go
  backend/protos/xyz/block/ftl/v1/schemaservice.proto
  backend/runner/runner.go
  frontend/cli/cmd_schema_get.go
  frontend/console/src/protos/xyz/block/ftl/v1/schemaservice_pb.ts
  internal/identity/identity.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schemaservice_pb2.py
Labels: skip-proto-breaking

#3530 feat: add schemaeventsource package
  .github/workflows/ci.yml
  Justfile
  backend/controller/controller.go
  backend/cron/service.go
  backend/cron/service_test.go
  backend/ingress/service.go
  backend/ingress/view.go
  backend/ingress/view_test.go
  backend/protos/xyz/block/ftl/v1/schemaservice.pb.go
  backend/protos/xyz/block/ftl/v1/schemaservice.proto
  cmd/ftl-cron/main.go
  cmd/ftl-http-ingress/main.go
  examples/go/echo/types.ftl.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
  frontend/cli/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schemaservice_pb.ts
  internal/model/keys.go
  internal/schema/metadataingress.go
  internal/schema/schemaeventsource/schemaeventsource.go
  internal/schema/schemaeventsource/schemaeventsource_test.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schemaservice_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schemaservice_pb2.pyi
Labels: skip-proto-breaking

#3523 feat: db runtime as resource output
  backend/controller/controller.go
  backend/controller/sql/database_integration_test.go
  backend/controller/sql/sqltest/testing.go
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/controller_provisioner.go
  backend/provisioner/deployment_test.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/registry.go
  backend/provisioner/resource_equality_test.go
  backend/provisioner/sql_migration_provisioner.go
  backend/runner/runner.go
  cmd/ftl-controller/main.go
  cmd/ftl-initdb/main.go
  cmd/ftl-provisioner-cloudformation/status.go
  frontend/cli/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
  internal/dev/db.go
  internal/dsn/dsn.go
  internal/integration/actions.go
  internal/schema/data.go
  internal/schema/database.go
  internal/schema/jsonschema.go
  internal/schema/redact_test.go
  internal/schema/validate.go
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1/schema/schema_pb2.pyi
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb2.py
  python-runtime/ftl/src/ftl/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb2.pyi
Labels: skip-proto-breaking

#3538 chore: remove default from provisioner config
  backend/provisioner/registry.go
  charts/ftl/templates/provisioner-config-map.yaml
  frontend/cli/cmd_serve.go
  ftl-provisioner-config.toml
Labels: run-all

#3543 fix: add service account to runners
  charts/ftl/templates/runner.yaml
Labels: run-all

#3562 fix: fix charts
  charts/ftl/templates/registry.yaml
  charts/ftl/values.yaml
Labels: run-all

#3565 chore: simplify Dockerfiles
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/smoketest.yml
  Dockerfile
  Dockerfile.controller
  Dockerfile.cron
  Dockerfile.http-ingress
  Dockerfile.initdb
  Dockerfile.provisioner
  Dockerfile.runner
  Justfile
  backend/controller/controller.go
  backend/ingress/service.go
  backend/provisioner/service.go
  backend/runner/runner.go
  charts/ftl/templates/db-migration-job.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.controller.test
  deployment/Dockerfile.cron.test
  deployment/Dockerfile.http-ingress.test
  deployment/Dockerfile.provisioner.test
  deployment/Dockerfile.runner-jvm.test
  deployment/Dockerfile.runner.test
  deployment/Justfile
  internal/integration/harness.go
  lefthook.yml
Labels: run-all
