Repository block/ftl, pull requests merged in 2024-09, with the labels that each got.

#2567 refactor: move codegenned sql queries into internal packages of each dal
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/dal/dal.go
  backend/controller/cronjobs/dal/internal/sql/async_queries.sql.go
  backend/controller/cronjobs/dal/internal/sql/db.go
  backend/controller/cronjobs/dal/internal/sql/models.go
  backend/controller/cronjobs/dal/internal/sql/querier.go
  backend/controller/cronjobs/dal/internal/sql/queries.sql
  backend/controller/cronjobs/dal/internal/sql/queries.sql.go
  backend/controller/cronjobs/dal/internal/sql/types.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/dal.go
  backend/controller/dal/events.go
  backend/controller/dal/fsm.go
  backend/controller/dal/internal/sql/async_queries.sql
  backend/controller/dal/internal/sql/async_queries.sql.go
  backend/controller/dal/internal/sql/db.go
  backend/controller/dal/internal/sql/models.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/dal/pubsub.go
  internal/configuration/dal/dal.go
  internal/configuration/dal/internal/sql/db.go
  internal/configuration/dal/internal/sql/models.go
  internal/configuration/dal/internal/sql/querier.go
  internal/configuration/dal/internal/sql/queries.sql
  internal/configuration/dal/internal/sql/queries.sql.go
  internal/configuration/dal/internal/sql/types.go
  internal/configuration/db_config_resolver.go
  internal/configuration/db_config_resolver_test.go
  sqlc.yaml
Labels: run-all

#2556 fix: use typemap in JVM
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeKey.java
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TypeAlias.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TypeAliasMapper.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/JsonSerializationConfig.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/JsonSerializationConfigTest.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/go/gomodule/go.mod
  jvm-runtime/testdata/go/gomodule/go.sum
  jvm-runtime/testdata/go/gomodule/server.go
  jvm-runtime/testdata/java/passthrough/pom.xml
  jvm-runtime/testdata/java/passthrough/src/main/java/xyz/block/ftl/test/DidMapper.java
  jvm-runtime/testdata/java/passthrough/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/passthrough/pom.xml
  jvm-runtime/testdata/kotlin/passthrough/src/main/kotlin/xyz/block/ftl/test/DidMapper.kt
  jvm-runtime/testdata/kotlin/passthrough/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Labels: run-all

#2564 feat: initial Intelij plugin
  .github/workflows/ci.yml
  Justfile
  extensions/intellij/build.gradle.kts
  extensions/intellij/gradle.properties
  extensions/intellij/settings.gradle.kts
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/CustomLsp4jClient.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTL.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLLspServerDescriptor.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLLspServerService.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLLspServerSupportProvider.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLSettings.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLSettingsComponent.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/FTLSettingsConfigurable.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/toolWindow/FTLMessagesPanel.kt
  extensions/intellij/src/main/kotlin/xyz/block/ftl/intellij/toolWindow/FTLToolWindowFactory.kt
  extensions/intellij/src/main/resources/META-INF/plugin.xml
  extensions/intellij/src/main/resources/META-INF/pluginIcon.svg
Labels: run-all

#2622 feat: Add Go helper functions for HttpResponse
  backend/controller/ingress/testdata/go/httpingress/httpingress.go
  go-runtime/compile/external-module-template/.ftl/go/modules/{{ .Module.Name }}/external_module.go.tmpl
Labels: run-all

#2639 feat: start of profile support
  backend/controller/admin/admin.go
  internal/configuration/api.go
  internal/configuration/manager/cache.go
  internal/configuration/manager/manager.go
  internal/configuration/manager/manager_test.go
  internal/configuration/providers/1password_provider.go
  internal/configuration/providers/asm.go
  internal/configuration/providers/db_config_provider.go
  internal/configuration/providers/envar_provider.go
  internal/configuration/providers/inline_provider.go
  internal/configuration/providers/keychain_provider.go
  internal/configuration/providers/providerstest/manual_sync_utils.go
  internal/configuration/providers/registry.go
  internal/configuration/routers/file_router.go
  internal/configuration/routers/file_router_test.go
  internal/profiles/internal/persistence.go
  internal/profiles/profiles.go
  internal/profiles/profiles_test.go
  internal/projectconfig/projectconfig.go
Labels: run-all

#2654 fix: GetActiveDeployments fix
  backend/controller/controller.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/leases/lease_integration_test.go
  internal/buildengine/deploy.go
Labels: run-all

#2665 chore(refactor): extract encryption dal for sharing with other packages
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/events.go
  backend/controller/dal/fsm.go
  backend/controller/dal/fsm_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/dal/pubsub.go
  backend/controller/encryption/dal/dal.go
  backend/controller/encryption/dal/internal/sql/db.go
  backend/controller/encryption/dal/internal/sql/models.go
  backend/controller/encryption/dal/internal/sql/querier.go
  backend/controller/encryption/dal/internal/sql/queries.sql
  backend/controller/encryption/dal/internal/sql/queries.sql.go
  backend/controller/encryption/encryption.go
  backend/controller/encryption/encryption_test.go
  sqlc.yaml
Labels: run-all

#2674 chore(refactor): create timeline package in controller
  backend/controller/call_events.go
  backend/controller/console/console.go
  backend/controller/controller.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/internal/sql/deployment_queries.sql.go
  backend/controller/dal/internal/sql/models.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/deployment_logs.go
  backend/controller/timeline/dal/dal.go
  backend/controller/timeline/dal/dal_test.go
  backend/controller/timeline/dal/internal/sql/db.go
  backend/controller/timeline/dal/internal/sql/deployment_queries.sql
  backend/controller/timeline/dal/internal/sql/deployment_queries.sql.go
  backend/controller/timeline/dal/internal/sql/models.go
  backend/controller/timeline/dal/internal/sql/querier.go
  backend/controller/timeline/dal/internal/sql/queries.sql
  backend/controller/timeline/dal/internal/sql/queries.sql.go
  backend/controller/timeline/timeline.go
  sqlc.yaml
Labels: run-all

#2686 feat: remove runner state
  .github/workflows/ci.yml
  backend/controller/controller.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/internal/sql/models.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/sql/schema/20240916015906_remove_runner_state.sql
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/runner/observability/runner.go
  backend/runner/runner.go
  frontend/console/src/features/infrastructure/RunnersList.tsx
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_pb.ts
Labels: run-all, skip-proto-breaking

#2700 chore(rename): rename controller table to controllers
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/sql/databasetesting/devel.go
  backend/controller/sql/schema/20240916190209_rename_controller_to_controllers.sql
Labels: run-all

#2701 fix: re-enable kube test when run-all is present
  .github/workflows/ci.yml
  Justfile
  backend/controller/console/testdata/go/console/go.sum
  backend/controller/cronjobs/testdata/go/cron/go.sum
  backend/controller/dal/testdata/go/fsm/go.sum
  backend/controller/dal/testdata/go/fsmnext/go.sum
  backend/controller/dal/testdata/go/fsmretry/go.sum
  backend/controller/encryption/testdata/go/encryption/go.sum
  backend/controller/ingress/testdata/go/httpingress/go.sum
  backend/controller/leases/testdata/go/leases/go.sum
  backend/controller/pubsub/testdata/go/publisher/go.sum
  backend/controller/pubsub/testdata/go/slow/go.sum
  backend/controller/pubsub/testdata/go/subscriber/go.sum
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/k8sscaling/kube_scaling_integration_test.go
  backend/controller/sql/testdata/go/database/go.sum
  deployment/base/db-migrate/kustomization.yml
  examples/go/echo/go.sum
  frontend/cli/testdata/go/echo/go.sum
  frontend/cli/testdata/go/time/go.sum
  go-runtime/compile/testdata/go/echo/go.sum
  go-runtime/compile/testdata/go/notexportedverb/go.sum
  go-runtime/compile/testdata/go/one/go.sum
  go-runtime/compile/testdata/go/two/go.sum
  go-runtime/compile/testdata/go/undefinedverb/go.sum
  go-runtime/encoding/testdata/go/omitempty/go.sum
  go-runtime/ftl/ftltest/testdata/go/outer/go.sum
  go-runtime/ftl/ftltest/testdata/go/pubsub/go.sum
  go-runtime/ftl/ftltest/testdata/go/subscriber/go.sum
  go-runtime/ftl/ftltest/testdata/go/verbtypes/go.sum
  go-runtime/ftl/ftltest/testdata/go/wrapped/go.sum
  go-runtime/ftl/reflection/testdata/go/runtimereflection/go.sum
  go-runtime/ftl/testdata/go/echo/go.sum
  go-runtime/ftl/testdata/go/mapper/go.sum
  go-runtime/ftl/testdata/go/typeregistry/go.sum
  go-runtime/internal/testdata/go/mapper/go.sum
  go-runtime/schema/testdata/failing/go.sum
  go-runtime/schema/testdata/fsm/go.sum
  go-runtime/schema/testdata/one/go.sum
  go-runtime/schema/testdata/parent/go.sum
  go-runtime/schema/testdata/pubsub/go.sum
  go-runtime/schema/testdata/subscriber/go.sum
  go-runtime/schema/testdata/two/go.sum
  go-runtime/schema/testdata/validation/go.sum
  internal/buildengine/testdata/alpha/go.sum
  internal/buildengine/testdata/another/go.sum
  internal/buildengine/testdata/other/go.sum
  internal/integration/actions.go
  internal/integration/harness.go
  internal/projectconfig/testdata/go/echo/go.sum
  internal/projectconfig/testdata/go/findconfig/go.sum
  internal/projectconfig/testdata/go/validateconfig/go.sum
  jvm-runtime/testdata/go/gomodule/go.sum
Labels: run-all

#2702 feat: service based load balancing
  backend/controller/controller.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/localscaling/local_scaling.go
  backend/controller/scaling/scaling.go
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  frontend/console/src/features/infrastructure/RoutesList.tsx
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_pb.ts
  internal/integration/harness.go
Labels: run-all, skip-proto-breaking

#2711 fix: restore kube health check
  backend/controller/controller.go
  backend/runner/runner.go
Labels: run-all

#2705 feat: rolling deployments
  backend/controller/controller.go
  backend/controller/dal/dal.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/dal/notify.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/k8sscaling/kube_scaling_integration_test.go
  backend/controller/sql/schema/20240917062716_change_deployments_index.sql
  deployment/base/db-migrate/kustomization.yml
  internal/buildengine/engine.go
Labels: run-all

#2717 chore: add a planning endpoint to the provisioner plugins
  backend/protos/buf.yaml
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.proto
  backend/protos/xyz/block/ftl/v1beta1/provisioner/provisionerconnect/plugin.connect.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  cmd/devel-provisioner/main.go
  cmd/ftl-provisioner-cloudformation/cloudformation_util.go
  cmd/ftl-provisioner-cloudformation/plan.go
  cmd/ftl-provisioner-cloudformation/provisioner.go
  cmd/ftl-provisioner-cloudformation/status.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
Labels: skip-proto-breaking

#2840 fix: scheduled tasks should not derive names
  backend/controller/controller.go
  backend/controller/pubsub/service.go
  backend/controller/scheduledtask/scheduledtask.go
  backend/controller/scheduledtask/scheduledtask_test.go
Labels: run-all

#2843 fix: schema sync is broken
  backend/controller/controller.go
Labels: run-all
