Repository block/ftl, pull requests merged in 2024-08, with the labels that each got.

#2353 ci: run integration tests if the PR is labelled with "run-integration"
  .github/workflows/ci.yml
Labels: run-integration

#2355 fix: rename some timeline related names
  backend/controller/console/console.go
  backend/controller/cronjobs/sql/models.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/events.go
  backend/controller/sql/models.go
  backend/controller/sql/querier.go
  backend/controller/sql/queries.sql
  backend/controller/sql/queries.sql.go
  backend/controller/sql/schema/20240814060154_rename_events_to_timeline.sql
  common/configuration/sql/models.go
  internal/encryption/encryption.go
  internal/encryption/encryption_test.go
  internal/encryption/integration_test.go
Labels: run-integration

#2362 refactor: extend the integration testing framework to support multiple languages
  backend/controller/admin/local_client_test.go
  backend/controller/console/console_integration_test.go
  backend/controller/cronjobs/cronjobs_integration_test.go
  backend/controller/dal/fsm_integration_test.go
  backend/controller/ingress/ingress_integration_test.go
  backend/controller/leases/lease_integration_test.go
  backend/controller/pubsub/integration_test.go
  backend/controller/sql/database_integration_test.go
  cmd/ftl/integration_test.go
  common/projectconfig/integration_test.go
  go-runtime/compile/compile_integration_test.go
  go-runtime/encoding/encoding_integration_test.go
  go-runtime/ftl/ftl_integration_test.go
  go-runtime/ftl/ftltest/ftltest_integration_test.go
  go-runtime/ftl/integration_test.go
  go-runtime/ftl/reflection/reflection_integration_test.go
  go-runtime/internal/integration_test.go
  integration/actions.go
  integration/harness.go
  internal/encryption/integration_test.go
  java-runtime/java_integration_test.go
Labels: run-integration

#2376 refactor: decouple conflicting ModuleContext requirements
  go-runtime/ftl/database.go
  internal/modulecontext/database.go
  internal/modulecontext/module_context.go
Labels: run-integration

#2372 chore: Java PubSub Tests
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/testdata/go/subscriber/subscriber.go
  backend/controller/pubsub/testdata/java/publisher/ftl.toml
  backend/controller/pubsub/testdata/java/publisher/pom.xml
  backend/controller/pubsub/testdata/java/publisher/src/main/java/xyz/block/ftl/java/test/publisher/PubSubEvent.java
  backend/controller/pubsub/testdata/java/publisher/src/main/java/xyz/block/ftl/java/test/publisher/Publisher.java
  backend/controller/pubsub/testdata/java/subscriber/ftl.toml
  backend/controller/pubsub/testdata/java/subscriber/pom.xml
  backend/controller/pubsub/testdata/java/subscriber/src/main/java/xyz/block/ftl/java/test/subscriber/Subscriber.java
Labels: run-integration

#2340 fix: change some unique indexes to unique constraints
  backend/controller/sql/schema/20231103205514_init.sql
  backend/controller/sql/schema/20240815053106_update-indexes.sql
Labels: run-integration

#2387 feat: add bom and build parent
  backend/controller/cronjobs/testdata/java/cron/pom.xml
  backend/controller/leases/testdata/java/leases/pom.xml
  backend/controller/pubsub/testdata/java/publisher/pom.xml
  backend/controller/pubsub/testdata/java/subscriber/pom.xml
  buildengine/build_java.go
  examples/kotlin/echo/pom.xml
  examples/kotlin/echo/src/main/ftl-module-schema/time.pb
  examples/kotlin/time/pom.xml
  jvm-runtime/ftl-runtime/common/bom/pom.xml
  jvm-runtime/ftl-runtime/common/build-parent/pom.xml
  jvm-runtime/ftl-runtime/common/deployment/pom.xml
  jvm-runtime/ftl-runtime/common/pom.xml
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
  jvm-runtime/ftl-runtime/java/build-parent/pom.xml
  jvm-runtime/ftl-runtime/java/pom.xml
  jvm-runtime/ftl-runtime/kotlin/build-parent/pom.xml
  jvm-runtime/ftl-runtime/kotlin/pom.xml
  jvm-runtime/ftl-runtime/pom.xml
  jvm-runtime/ftl-runtime/test-framework/pom.xml
  jvm-runtime/testdata/java/javamodule/pom.xml
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/java/test/TestInvokeGo.java
Labels: run-integration

#2406 feat: Add tanstack query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/modules/use-modules.ts
  frontend/src/api/schema/use-schema.ts
  frontend/src/api/timeline/index.ts
  frontend/src/api/timeline/stream-verb-calls.ts
  frontend/src/api/timeline/timeline-filters.ts
  frontend/src/api/timeline/use-request-calls.ts
  frontend/src/api/timeline/use-timeline-calls.ts
  frontend/src/api/timeline/use-timeline.ts
  frontend/src/components/CodeEditor.tsx
  frontend/src/components/DarkModeSwitch.tsx
  frontend/src/components/Loader.tsx
  frontend/src/features/console/ConsolePage.tsx
  frontend/src/features/deployments/DeploymentCard.tsx
  frontend/src/features/deployments/DeploymentPage.tsx
  frontend/src/features/deployments/DeploymentsPage.tsx
  frontend/src/features/graph/GraphPane.tsx
  frontend/src/features/requests/RequestGraph.tsx
  frontend/src/features/timeline/Timeline.tsx
  frontend/src/features/timeline/details/TimelineCallDetails.tsx
  frontend/src/features/timeline/filters/TimelineFilterPanel.tsx
  frontend/src/features/verbs/VerbCalls.tsx
  frontend/src/features/verbs/VerbPage.tsx
  frontend/src/features/verbs/VerbRequestForm.tsx
  frontend/src/features/verbs/verb.utils.ts
  frontend/src/hooks/use-schema.ts
  frontend/src/layout/Layout.tsx
  frontend/src/layout/navigation/MobileNavigation.tsx
  frontend/src/layout/navigation/Navigation.tsx
  frontend/src/main.tsx
  frontend/src/providers/AppProviders.tsx
  frontend/src/providers/app-providers.tsx
  frontend/src/providers/dark-mode-provider.tsx
  frontend/src/providers/modules-provider.tsx
  frontend/src/providers/react-query-provider.tsx
  frontend/src/providers/routing-provider.tsx
  frontend/src/providers/user-preferences-provider.tsx
Labels: run-integration

#2411 feat: add support for Gradle
  bin/.gradle-8.9.pkg
  bin/gradle
  internal/buildengine/build_java.go
  internal/buildengine/discover_test.go
  internal/moduleconfig/moduleconfig.go
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/gradle/build.gradle.kts
  jvm-runtime/testdata/java/gradle/ftl.toml
  jvm-runtime/testdata/java/gradle/gradle.properties
  jvm-runtime/testdata/java/gradle/settings.gradle.kts
  jvm-runtime/testdata/java/gradle/src/main/java/org/acme/EchoVerb.java
Labels: run-integration

#2413 fix(integration): create a new test dir per language
  .github/workflows/ci.yml
  internal/buildengine/testdata/depcycle1/go.mod
  internal/buildengine/testdata/depcycle2/go.mod
  internal/integration/harness.go
  jvm-runtime/jvm_integration_test.go
Labels: run-all

#2398 feat: allow catch verbs to receive request types as `any`
  backend/controller/controller.go
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/testdata/go/subscriber/subscriber.go
  backend/schema/builtin.go
  backend/schema/schema_test.go
  backend/schema/validate.go
  backend/schema/validate_test.go
Labels: run-all

#2422 feat: HttpRequest path and query mapping
  backend/controller/console/console_test.go
  backend/controller/console/testdata/go/console/console.go
  backend/controller/ingress/handler_test.go
  backend/controller/ingress/ingress.go
  backend/controller/ingress/ingress_integration_test.go
  backend/controller/ingress/request.go
  backend/controller/ingress/request_test.go
  backend/controller/ingress/testdata/go/httpingress/httpingress.go
  backend/schema/builtin.go
  backend/schema/schema_test.go
  backend/schema/validate.go
  backend/schema/validate_test.go
  docs/content/docs/reference/ingress.md
  docs/content/docs/reference/types.md
  go-runtime/compile/testdata/go/one/one.go
  go-runtime/encoding/testdata/go/omitempty/omitempty.go
  go-runtime/ftl/testdata/go/typeregistry/typeregistry.go
  go-runtime/ftl/testdata/go/typeregistry/typeregistry_test.go
  go-runtime/schema/schema_test.go
  go-runtime/schema/testdata/one/one.go
  go-runtime/schema/testdata/two/two.go
  internal/lsp/hoveritems.go
  internal/lsp/markdown/completion/ingress.md
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FtlProcessor.java
Labels: run-all

#2401 fix: handle custom local names for widened types
  go-runtime/schema/schema_test.go
  go-runtime/schema/testdata/two/go.mod
  go-runtime/schema/testdata/two/two.go
  go-runtime/schema/typealias/analyzer.go
Labels: run-all

#2400 refactor: typesafe encrypted DB columns
  .go-arch-lint.yml
  backend/controller/cronjobs/sql/models.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/dal.go
  backend/controller/dal/encryption.go
  backend/controller/dal/events.go
  backend/controller/dal/fsm.go
  backend/controller/dal/pubsub.go
  backend/controller/sql/models.go
  backend/controller/sql/querier.go
  backend/controller/sql/queries.sql.go
  backend/controller/sql/schema/20240815003340_typesafe_encrypted_columns.sql
  internal/configuration/sql/models.go
  internal/encryption/database.go
  internal/encryption/encryption.go
  internal/encryption/encryption_test.go
  internal/encryption/integration_test.go
  sqlc.yaml
Labels: run-all

#2429 refactor: encryption refactor
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs_integration_test.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/encryption.go
  backend/controller/dal/fsm_test.go
  backend/controller/dal/lease_test.go
  backend/controller/sql/sqltest/testing.go
  cmd/ftl-controller/main.go
  internal/encryption/encryption.go
  internal/encryption/encryption_test.go
  internal/encryption/integration_test.go
Labels: run-all

#2453 feat: align Java HTTP mapping with the new model and add a test
  backend/controller/ingress/ingress_integration_test.go
  backend/controller/ingress/testdata/java/httpingress/ftl.toml
  backend/controller/ingress/testdata/java/httpingress/pom.xml
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/ArrayType.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/DeleteRequest.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/DeleteResponse.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/GetRequest.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/GetResponse.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/Nested.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/PostRequest.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/PostResponse.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/PutRequest.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/PutResponse.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/QueryParamRequest.java
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/TestHTTP.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FtlProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/FTLRecorder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/JsonSerializationConfig.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/http/FTLHttpHandler.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/http/HTTPVerbInvoker.java
  jvm-runtime/ftl-runtime/java/integration-tests/pom.xml
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResource.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/test/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResourceTest.java
  jvm-runtime/ftl-runtime/pom.xml
Labels: run-all

#2444 fix: bug with subkeys, verify test fields on startup
  backend/controller/cronjobs/sql/models.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/encryption.go
  backend/controller/sql/models.go
  backend/controller/sql/querier.go
  backend/controller/sql/queries.sql
  backend/controller/sql/queries.sql.go
  backend/controller/sql/schema/20240820011612_encryption_verification.sql
  internal/configuration/sql/models.go
  internal/encryption/database.go
  internal/encryption/encryption.go
Labels: run-all

#2467 chore: refactor JVM code
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/DatasourceProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FtlProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/HTTPProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SchemaContributorBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
Labels: run-all

#2407 feat: rewrite cron to use async system
  .golangci.yml
  Justfile
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_integration_test.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/cronjobs/cronjobs_utils_test.go
  backend/controller/cronjobs/dal/dal.go
  backend/controller/cronjobs/sql/async_queries.sql.go
  backend/controller/cronjobs/sql/conn.go
  backend/controller/cronjobs/sql/models.go
  backend/controller/cronjobs/sql/querier.go
  backend/controller/cronjobs/sql/queries.sql
  backend/controller/cronjobs/sql/queries.sql.go
  backend/controller/cronjobs/state.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/fsm.go
  backend/controller/dal/pubsub.go
  backend/controller/observability/async_calls.go
  backend/controller/sql/async_queries.sql
  backend/controller/sql/async_queries.sql.go
  backend/controller/sql/models.go
  backend/controller/sql/querier.go
  backend/controller/sql/queries.sql
  backend/controller/sql/queries.sql.go
  backend/controller/sql/schema/20240815164808_async_calls_cron_job_key.sql
  go.mod
  go.sum
  internal/configuration/sql/models.go
  internal/model/cron_job.go
  sqlc.yaml
Labels: run-all

#2492 refactor: add a reusable DAL helper
  .golangci.yml
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/cronjobs/dal/dal.go
  backend/controller/cronjobs/sql/conn.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/encryption.go
  backend/controller/dal/events.go
  backend/controller/dal/fsm_test.go
  backend/controller/dal/lease.go
  backend/controller/dal/lease_test.go
  backend/controller/dal/pubsub.go
  backend/controller/pubsub/manager.go
  backend/controller/sql/conn.go
  backend/dal/dal.go
  backend/dal/dal_test.go
  cmd/ftl-controller/main.go
  go-runtime/schema/testdata/failing/go.sum
  go-runtime/schema/testdata/validation/go.sum
  internal/buildengine/testdata/alpha/go.sum
  internal/buildengine/testdata/another/go.sum
  internal/buildengine/testdata/other/go.sum
  internal/configuration/dal/dal.go
  internal/configuration/dal/dal_test.go
  internal/configuration/sql/conn.go
Labels: run-all

#2495 refactor: pull module-specific endpoints out into a separate service
  .github/workflows/ci.yml
  backend/controller/controller.go
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/protos/xyz/block/ftl/v1/ftlv1connect/ftl.connect.go
  backend/runner/runner.go
  frontend/src/protos/xyz/block/ftl/v1/ftl_connect.ts
  go-runtime/ftl/leases.go
  go-runtime/internal/impl.go
  go-runtime/server/server.go
  internal/modulecontext/module_context.go
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/FTLController.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/VerbHandler.java
  jvm-runtime/ftl-runtime/test-framework/src/main/java/xyz/block/ftl/java/test/internal/FTLTestServer.java
  jvm-runtime/ftl-runtime/test-framework/src/main/java/xyz/block/ftl/java/test/internal/TestModuleServer.java
  jvm-runtime/ftl-runtime/test-framework/src/main/java/xyz/block/ftl/java/test/internal/TestVerbServer.java
Labels: run-all, skip-proto-breaking

#2504 fix: do not parse associated types as refs
  go-runtime/compile/build.go
  go-runtime/compile/testdata/go/two/two.go
Labels: run-all

#2435 fix: clean up async calls with expired leases
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/dal/async_calls.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/fsm_test.go
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/testdata/go/slow/ftl.toml
  backend/controller/pubsub/testdata/go/slow/go.mod
  backend/controller/pubsub/testdata/go/slow/go.sum
  backend/controller/pubsub/testdata/go/slow/slow.go
  backend/controller/sql/querier.go
  backend/controller/sql/queries.sql
  backend/controller/sql/queries.sql.go
Labels: run-all

#2502 fix: avoid duplicate import aliases
  go-runtime/compile/build.go
  go-runtime/compile/build_test.go
Labels: run-all

#2533 fix: scope ingress logs with the request signature
  backend/controller/ingress/handler.go
Labels: run-all

#2528 chore(lint): centralize node linting rules
  .npmrc
  biome.json
  extensions/vscode/biome.json
  frontend/biome.json
Labels: run-all

#2558 fix: avoid reusing servers for e2e tests
  frontend/playwright.config.ts
Labels: run-all

#2562 chore(ci): build docker images in merge queue
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Justfile
  scripts/go-test-annotate
Labels: run-all

#2553 feat: add infrastructure tabs and state
  frontend/biome.json
  frontend/e2e/ftl-test.ts
  frontend/e2e/infrastructure.spec.ts
  frontend/src/components/Pill.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/features/infrastructure/ControllersList.tsx
  frontend/src/features/infrastructure/DeploymentsList.tsx
  frontend/src/features/infrastructure/InfrastructurePage.tsx
  frontend/src/features/infrastructure/RoutesList.tsx
  frontend/src/features/infrastructure/RunnersList.tsx
  frontend/src/layout/navigation/Navigation.tsx
  frontend/src/stories/Pill.stories.ts
  frontend/src/stories/Tabs.stories.ts
Labels: run-all
