Repository block/ftl, pull requests merged in 2024-10, with the labels that each got.

#2796 feat: isolate hardcoded language support
  backend/controller/admin/local_client.go
  backend/controller/admin/testdata/go/dischema/go.mod
  backend/controller/admin/testdata/go/dischema/go.sum
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_init.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/cmd_schema_generate.go
  go-runtime/compile/build.go
  internal/buildengine/build.go
  internal/buildengine/build_go.go
  internal/buildengine/build_java.go
  internal/buildengine/build_rust.go
  internal/buildengine/deploy.go
  internal/buildengine/deps.go
  internal/buildengine/deps_test.go
  internal/buildengine/discover.go
  internal/buildengine/discover_test.go
  internal/buildengine/engine.go
  internal/buildengine/filehash.go
  internal/buildengine/plugin.go
  internal/buildengine/plugin_go.go
  internal/buildengine/plugin_go_integration_test.go
  internal/buildengine/plugin_java.go
  internal/buildengine/plugin_rust.go
  internal/buildengine/watch.go
  internal/buildengine/watch_integration_test.go
  internal/moduleconfig/moduleconfig.go
Labels: run-all

#2924 feat: allow language plugins to expose flags for module creation
  frontend/cli/cmd_new.go
  frontend/cli/main.go
  internal/buildengine/plugin.go
  internal/buildengine/plugin_go.go
  internal/buildengine/plugin_java.go
  internal/buildengine/plugin_rust.go
Labels: run-all

#2939 chore: make schema.posFromProto public
  backend/schema/array.go
  backend/schema/config.go
  backend/schema/data.go
  backend/schema/database.go
  backend/schema/enum.go
  backend/schema/errors.go
  backend/schema/field.go
  backend/schema/fsm.go
  backend/schema/map.go
  backend/schema/metadataingress.go
  backend/schema/module.go
  backend/schema/protobuf_dec.go
  backend/schema/ref.go
  backend/schema/secret.go
  backend/schema/subscription.go
  backend/schema/topic.go
  backend/schema/typealias.go
  backend/schema/typeparameter.go
  backend/schema/verb.go
Labels: run-all

#2936 fix: only delete the service
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  deployment/base/ftl-controller/role.yaml
Labels: run-all

#2973 chore: statically extract .proto from Go source
  .go-arch-lint.yml
  .golangci.yml
  Justfile
  backend/controller/ingress/ingress_test.go
  backend/controller/ingress/request.go
  backend/controller/ingress/response.go
  backend/protos/xyz/block/ftl/v1/schema/runtime.pb.go
  backend/protos/xyz/block/ftl/v1/schema/runtime.proto
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/ftl-schema/main.go
  cmd/go2proto/main.go
  frontend/cli/cmd_schema.go
  frontend/cli/cmd_schema_protobuf.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  go-runtime/schema/data/analyzer.go
  go.mod
  internal/schema/aliaskind_enumer.go
  internal/schema/any.go
  internal/schema/array.go
  internal/schema/bool.go
  internal/schema/bytes.go
  internal/schema/config.go
  internal/schema/data.go
  internal/schema/database.go
  internal/schema/enum.go
  internal/schema/float.go
  internal/schema/fsm.go
  internal/schema/int.go
  internal/schema/intvalue.go
  internal/schema/jsonvalidate.go
  internal/schema/map.go
  internal/schema/metadataalias.go
  internal/schema/metadatacalls.go
  internal/schema/metadatacronjob.go
  internal/schema/metadatadatabases.go
  internal/schema/metadataencoding.go
  internal/schema/metadataingress.go
  internal/schema/metadataretry.go
  internal/schema/metadatasubscriber.go
  internal/schema/metadatatypemap.go
  internal/schema/module.go
  internal/schema/optional.go
  internal/schema/parser.go
  internal/schema/protobuf.go
  internal/schema/ref.go
  internal/schema/schema_test.go
  internal/schema/secret.go
  internal/schema/string.go
  internal/schema/stringvalue.go
  internal/schema/subscription.go
  internal/schema/time.go
  internal/schema/topic.go
  internal/schema/typealias.go
  internal/schema/typevalue.go
  internal/schema/unit.go
  internal/schema/verb.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  scripts/go2proto
Labels: skip-proto-breaking

#2921 feat: dump kube pod logs on test failure
  .github/workflows/ci.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  go.mod
  internal/integration/actions.go
  internal/integration/harness.go
Labels: run-all

#2980 feat: JVM docs for secrets / config and retry
  docs/content/docs/reference/retries.md
  docs/content/docs/reference/secretsconfig.md
  internal/lsp/hoveritems.go
Labels: run-all

#2991 fix: don't attempt to delete secret
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
Labels: run-all

#2987 fix: kube test failures
  backend/controller/controller.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/kube_scaling_integration_test.go
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  internal/log/plain.go
Labels: run-all

#3023 fix: prune docker images
  .github/workflows/ci.yml
Labels: run-all

#3060 feat: add proto for language plugin service
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
Labels: skip-proto-breaking

#3065 feat: Export type aliases
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
Labels: jvm

#3067 refactor: unify (many of) the DSN uses
  backend/controller/controller.go
  backend/controller/dsn/dsn.go
  backend/controller/sql/database_integration_test.go
  backend/controller/sql/sqltest/testing.go
  cmd/ftl-controller/main.go
  cmd/ftl-initdb/main.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_migrate.go
  frontend/cli/main.go
  internal/dev/db.go
  internal/integration/actions.go
Labels: run-all

#3074 fix: JVM support on Kube
  Dockerfile.box
  Dockerfile.runner
  bin/.openjdk-17.0.8_7.pkg
  bin/jar
  bin/jarsigner
  bin/java
  bin/javac
  bin/javadoc
  bin/javap
  bin/jcmd
  bin/jconsole
  bin/jdb
  bin/jdeprscan
  bin/jdeps
  bin/jfr
  bin/jhsdb
  bin/jimage
  bin/jinfo
  bin/jlink
  bin/jmap
  bin/jmod
  bin/jpackage
  bin/jps
  bin/jrunscript
  bin/jshell
  bin/jstack
  bin/jstat
  bin/jstatd
  bin/keytool
  bin/rmiregistry
  bin/serialver
  deployment/Dockerfile.runner.test
  deployment/Justfile
Labels: run-all

#3081 chore: remove Kustomize
  .github/workflows/release.yml
  bin/.kustomize-5.4.3.pkg
  bin/kustomize
  charts/Chart.lock
  charts/Chart.yaml
  charts/templates/istio.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/istio/kustomization.yml
  deployment/values.yaml
Labels: run-all

#3086 fix: make controller service account configurable
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  charts/templates/controller-role.yaml
  charts/templates/controller.yaml
  charts/values.yaml
Labels: run-all

#3089 feat: switch go2proto to use an intermediate model
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/go2proto/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
Labels: skip-proto-breaking

#2989 feat: introducing oci artifact registry impl
  .gitignore
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/oci_registry.go
  docker-compose.yml
  frontend/cli/cmd_release.go
  frontend/cli/main.go
  go.mod
  go.sum
Labels: run-all

#3111 fix: chart path for kube tests
  deployment/Justfile
Labels: run-all

#3134 chore: use provisioner for kube tests
  internal/integration/actions.go
Labels: run-all

#3135 feat: configure provisioner through ConfigMap
  Dockerfile.provisioner
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
Labels: run-all

#3136 feat: plugin improvements (stub generation, clean up)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/compile/build.go
  go-runtime/compile/dependencies.go
  go-runtime/compile/external-module-template/external_module.go.tmpl
  go-runtime/compile/external-module-template/go.mod.tmpl
  go-runtime/compile/stubs.go
  go-runtime/compile/stubs_test.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/module.go
  internal/buildengine/stubs.go
  internal/watch/watch.go
Labels: skip-proto-breaking

#3151 feat: language plugins own build locks
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/build.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Labels: skip-proto-breaking

#3175 chore: remove java from the kube tests
  deployment/Dockerfile.runner.test
Labels: run-all

#3171 fix: add kube resource limits
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
Labels: run-all

#3178 feat: add JVM to kube tests
  deployment/Dockerfile.runner.test
Labels: run-all

#3176 fix: add istio policy before deployment
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/kube_scaling_integration_test.go
  backend/runner/runner.go
Labels: run-all

#3212 chore: remove redundant log messages in language plugin proto
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  common/plugin/serve.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  python-runtime/python-plugin/log_to_stream.go
  python-runtime/python-plugin/service.go
Labels: skip-proto-breaking

#2983 chore: GHA to smoke test against last released exemplar
  .github/workflows/smoketest.yml
  deployment/Justfile
  internal/integration/actions.go
  internal/integration/harness.go
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/echo/types.ftl.go
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
  smoketest/jecho/ftl.toml
  smoketest/jecho/pom.xml
  smoketest/jecho/src/main/java/com/example/EchoVerb.java
  smoketest/origin/origin.go
  smoketest/pulse/src/main/java/com/example/Pulse.java
  smoketest/relay/relay.go
Labels: run-all

#3280 chore: remove unused verb status
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/schema/verb.go
Labels: skip-proto-breaking
